* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    ;
}

body {
    background-color: #121e0e;
    color: #ffffff;
}

/* START HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    /* LOGO */
    font-size: 25px;
    color: #fff;;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    /* NAVEGATION MENU */
    font-size: 18px;
    color: #fff;;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}

.navbar a:hover,
.navbar a.active {
    color: #fff;
}

/* END HEADER */

/* START SECTION */
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    /* TEXT AREA */
    max-width: 600px;
}

.home-content h1 {
    /* NAME TITLE */
    font-size: 56px;
    font-weight: 700;

}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #3a9f2d;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    /* BUTTONS */
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
/* BUTTONS */
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #3a9f2d;
    border: 2px solid #3a9f2d;
    border-radius: 8px;
    font-size: 19px;
    color:#ffffff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover {
    color:#3a9f2d
}
.btn-box a:nth-child(2) {
    background: transparent;
    color:#3a9f2d;
}
.btn-box a:nth-child(2):hover {
    color:#121e0e;
}
.btn-box a:nth-child(2)::before {
    background-color: #3a9f2d;
}
.btn-box a::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #121e0e;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before {
    width: 100%;
}

/* MEDIA SOCIAL */
.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #3a9f2d;
    border-radius: 50%;
    font-size: 20px;
    color: #3a9f2d;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: #121e0e;
}
.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #3a9f2d;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before {
    width: 100%;
}