body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.header--bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 70px;
    background-color: #007c7a;
}

.header--logo {
    font-size: 25px;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
}

img {
    width: 50px;
    height: 50x;
    background-color: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo img {
    width: 275px;
    height: 166px;
    margin-bottom: 40px;

}

.login {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 17px;
    font-weight: bold;
    color: #007c7a;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    height: 30px;
    width: 250px;
    font-size: 17px;
    margin-top: 3px;
    display: block;
    border: 2px solid #007c7a;
    border-radius: 2px;
    box-shadow: 0px 1px 5px black;
    outline: none;
}

input::placeholder {
    color: #007c7a
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 45px;
    width: 260px;
    font-size: 20px;
    color:#FFF;
    text-decoration: none;
    background-color: #007c7a;
    border-radius: 2px;
    box-shadow: 0px 1px 3px black;
}

.dados{
    display: flex;
    gap: 70px; 
    margin-top: 30px;
}

.dados a {
    color:#007c7a;
    text-decoration: none;
    font-weight: bold;
}

footer {
    height: 50px;
    background-color: #007c7a;     
}
.text--footer {
    text-align: center;
    padding: 20px 0px;
    color: #FFF;
    font-weight: bold;
}