* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #2a3428;
    color: #fff;
}

.header {
    /* Começo estilização do cabeçalho */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    /* Estilização do logo */
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
}

.navbar a {
    /* estiliazaçao do menu */
    font-size: 18px;
    font-family: "Play", sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a.active,
.navbar a:hover {
    background: linear-gradient(45deg, #ff9900, #00b718);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* Fim estiliazação do cabeçalho */

/* inicio da section */
.home {
    /* estilização da section */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    /* área do conteudo principal */
    max-width: 500px;
}

.home-content h1 {
    /* título principal */
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    /* descrição da função */
    font-size: 32px;
    font-weight: 700;
}

.home-content p {
    /* paragrafo abaixo da função */
    font-size: 16px;
    margin: 20px 0 40px;
}

/* começo da estiliazação do botão */
.btn {
    /* estiliazação do botão */
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    border-radius: 40px;
    font-size: 19px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #ff9900, #00b718, #ff9900);
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    filter: blur(5px);
    transition: .5s ease;
}

.btn:hover::before {
    background-position: 100% 0;
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #ff9900, #00b718, #ff9900);
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    transition: .5 ease;
}

.btn:hover::after {
    background-position: 100%;

}

/* fim da estilização do botão */

/* redes sociais */
.home-sci a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #ff9900, #00b718);
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    z-index: 1;
}

.home-sci a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff9900, #00b718);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}

.home-sci a:hover::before {
    filter: blur(5px)
}

.home-sci a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2a3428;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: .5s ease;
}

.home-sci a:hover::after {
    transform: scale(0);
}
Í
/* fim redes sociais */

